<div class="container">
<% if @trim.image.present? %>
<% if @trim.image.start_with?('/image') %>
        <%= image_tag(@trim.image, skip_pipeline: true, class: 'feature') %>
    <% else %>
      <%= cl_image_tag(@trim.image, class: 'feature') %>
    <% end %>
<% end %>

<ul>

    <li>Color: <%= @trim.color %></li>
    <li>Wheels: <%= @trim.wheel_size %> inch <%= @trim.wheel_mat %> wheels</li>
    <li>Interior: <%= @trim.int_color %> <%= @trim.interior %></li>
    <li><%= @trim.sport %></li>
    <li>Additional features: <%= @trim.features %></li>

</ul>

<div class="controls">
    <%= link_to "Edit trim", edit_trim_path(@trim), :class => "btn btn-primary" %>
    <%= link_to "Delete trim", @trim, :class => "btn btn-primary", :method => :delete, :data => { :confirm => "Are your sure?" } %>
</div> 
</div>