<h1><%= @car.name %></h1>

<%= cl_image_tag @car.image, :class => 'feature' %>

<ul>

    <li><%= link_to @car.manufacturer.name, @car.manufacturer unless @car.manufacturer.nil? %></li>
    <li><%= link_to @car.trim.color, @car.trim unless @car.trim.nil? %></li>
    <li><%= link_to @car.engine.name, @car.engine unless @car.engine.nil? %></li>

</ul>

<div class="controls">
    <%= link_to "Edit car", edit_car_path(@car) %>
    <%= link_to "Delete car", @car, :method => :delete, :data => { :confirm => "Are your sure?" } %>
</div> 